*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    cursor: pointer;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
    border: 1px solid gray;
    padding: 5px 0px;
}
input{
    border-radius: 5px;
    outline: none;
    border: 1px solid gray;
    padding: 5px 20px;
    box-shadow: none;
}

.mainTitle{
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.subTitle{
    font-size: 1.2rem;
    color: #333;
    font-weight: 550;
}

.dropdown button{
    font-weight: 400;
}